In [2]:
# A Project where we are going to analyze retailer sales
# It can be products with the most/least sale, the geographic location where the sale is maxiumum
# This project would involve a dataset that has transactional data of say a company X.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
print(pd.__version__)
print(np.__version__)

2.2.3
2.1.3

In [6]:
# Dataset Loading, Drive Connectivity.
import os
print(os.getcwd())
dataset_file = pd.read_csv('retail_store_sales.csv',encoding='latin-1')
print(dataset_file.head(5))

C:\Users\laksh doshi
  Transaction ID Customer ID       Category          Item  Price Per Unit  \
0    TXN_6867343     CUST_09     Patisserie   Item_10_PAT            18.5
1    TXN_3731986     CUST_22  Milk Products  Item_17_MILK            29.0
2    TXN_9303719     CUST_02       Butchers   Item_12_BUT            21.5
3    TXN_9458126     CUST_06      Beverages   Item_16_BEV            27.5
4    TXN_4575373     CUST_05           Food   Item_6_FOOD            12.5

   Quantity  Total Spent  Payment Method Location Transaction Date  \
0      10.0        185.0  Digital Wallet   Online       08-04-2024
1       9.0        261.0  Digital Wallet   Online       23-07-2023
2       2.0         43.0     Credit Card   Online       05-10-2022
3       9.0        247.5     Credit Card   Online       07-05-2022
4       7.0         87.5  Digital Wallet   Online       02-10-2022

  Discount Applied
0             True
1             True
2            False
3              NaN
4            False

In [7]:
# Describing dataset
print(dataset_file.info())
# Checking for missing values in the dataset
print(dataset_file.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    12575 non-null  object
 1   Customer ID       12575 non-null  object
 2   Category          12575 non-null  object
 3   Item              11362 non-null  object
 4   Price Per Unit    11966 non-null  float64
 5   Quantity          11971 non-null  float64
 6   Total Spent       11971 non-null  float64
 7   Payment Method    12575 non-null  object
 8   Location          12575 non-null  object
 9   Transaction Date  12575 non-null  object
 10  Discount Applied  8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.1+ MB
None
Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [8]:
# The dataset has 12575 rows and 11 columns
# The Dataset is not entirely cleaned and organized
# Columns with null values are: Item, Price Per Unit, Quantity, Total Spent, Discount Applied